.aabb{
    display: block;
}


.services-submenu {
    width: 10rem;
    position: absolute;
    top: 67px;
    list-style: none;
    text-align: start;
    display: block;
    
  }
  
  .services-submenu li {
    background: whitesmoke;
    cursor: pointer;
    display: block;
  }

  .services-submenu.clicked {
    display: none;
    
  }
  
  .submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
  }