.App {
  text-align: center;
}

.savemenu{
  height: 3vh;
}
.hundred{
 height: 90vh;
 margin-top: 7%;
 overflow-x: hidden;
 text-align:justify;
 font-size: medium;
 scrollbar-width: 0px;
 width:100%;

}
.hundredpage{
 height: 100%;

 margin-right: 7%;
 scrollbar-width: 0px;
 width:100%;
 padding-right: 15%;
 overflow-x: hidden;
 text-align:justify;
}