.App {
  text-align: center;
}

.savemenu{
  height: 3vh;
}
.hundred{
 height: 75vh;

 background-color: white;
 margin-top: 10%;
 margin-bottom: 2%;
 margin-left: 7%;
 margin-right: 7%;
 padding:4px;
 top:10px;
 overflow-x: hidden;
 overflow-y: auto;
 text-align:justify;
}